.body {
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.navbar .left {
    font-size: 32px;
    font-weight: 700;
}

.navbar .right{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: black;
}

.navbar .right a:hover {
    text-decoration: underline;
}

.navbar .right a img {
    width: 24px;
    height: 24px;
}

.navbar .hamburger .bar1,  .bar2, .bar3{
    background-color: black;
    height: 4px;
    width: 32px;
    margin: 3px;
    border-radius: 10px;
    position: relative;
}

.navbar .hamburger {
    display: none;
}

.navbar .hamburger:hover {
    cursor: pointer;
}

.container .mobileNav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    position:fixed;
    z-index: 1;
    top: 0;
    right: -160px;
    margin-top: 51px ;
    padding: 16px;
    transition: transform 0.3s;
}

.container .mobileNav img {
    width: 24px;
    height: 24px;
}

.openMobileNav {
    transform: translateX(-160px);
    transition: all 1s ;
}

.container .mobileNav a {
    text-decoration: none;
    color: black;
    margin: 16px 0;
}

.container .mobileNav a:hover {
    text-decoration: underline;
}

.project-grid {
    display: grid;
    /* grid-template-columns: 400px 400px 1fr; */
    grid-template-areas: 
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
    gap: 16px;
    width: 100%;
    margin: 0 auto;

}

#eth {
    grid-area: eth;
}

#alphabet {
    grid-area: alphabet;
}

#traveler {
    grid-area: traveler;
}

#astro {
    grid-area: astro;
}

#cube {
    grid-area: cube;
}

#cup {
    grid-area: cup;
}

#insta {
    grid-area: insta;
}

#foam {
    grid-area: foam;
}

#dimensional {
    grid-area: dimensional;
}

.project{
    /* width: 600px; */
    position: relative;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.project .overlay {
    background: rgba(255, 255,255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.15s ease-in;
}

.project .overlay.white {
    color: wheat
}

.project .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 64px;
}

@media only screen and (max-width: 1100px){
    .container{
        max-width: 100%;
    }

    .project-grid {
        max-width: 100%;
        grid-template-areas: 
        "eth eth "
        "alphabet traveler"
        "astro cube"
        "insta insta"
        "cup foam"
        "dimensional dimensional";
    }
}

@media only screen and (max-width: 768px) {
    .project-grid {
        margin-top: 100px;
    }
    
    .navbar {
        padding: 16px 24px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color:  white;
        width: 100%;
        box-sizing: border-box;
        
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .footer {
        padding: 32px;
    }

    .project-grid {
        /* max-width: 100%; */
        grid-template-areas: 
        "eth eth "
        "alphabet alphabet"
        "traveler traveler"
        "astro cube"
        "insta insta"
        "cup cup"
        "foam foam"
        "dimensional dimensional";
    }

    .project .overlay {
        font-size: 24px;
    }
}

.animateBar1 {
    animation:rotateBarOne 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation:fadeBarTwo 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation:rotateBarThree 0.5s;
    animation-fill-mode: forwards;
}

/* .navbar .hamburger .bar:nth-child(1) {
    animation:rotateBarOne 1s infinite;
}

.navbar .hamburger .bar:nth-child(2) {
    animation:fadeBarTwo 1s infinite;
}


.navbar .hamburger .bar:nth-child(3) {
    animation:rotateBarThree 1s infinite;
} */

@keyframes rotateBarOne {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(4px, 10px );
        
    }
}

@keyframes fadeBarTwo {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes rotateBarThree {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(4px, -10px );
    }
}