body {
    font-family: Montserrat, sans-serif;
}

/* h1 {
    font-weight: 100;
    text-shadow: magenta 2px 2px 2px;
    text-shadow: -2px 2px 2px magenta, -4px 4px 2px cyan;
    text-transform: uppercase;
} */

/* .tag {
    text-decoration: none;
    background-color: black;
    color: white;
} */

#cast {
    list-style-type: "#";
}