.box1 {
    background-color: tomato;
    height: 300px;
    width: 40%;
    float: left;
    margin-right: 20px;
}

.box2 {
    background-color: olive;
    height: 300px;
    width: calc(60% - 20px);
    float: right;
}