/* body {
    background-color: red;
} */

/* @media (max-width: 800px) {
    body {
        background-color: orange;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: yellow;;
    }
} */

/* @media only screen and (max-width: 800px) {
    body {
        background-color: orange;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: yellow;;
    }
} */

/* @media only screen and (orientation: portrait) {
    body {
        background-color: yellow;;
    }
    h1::before {
        content:"portrait ";
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: yellow;;
    }
    h1::before {
        content:"landscape ";
    }
} */

/* @media (max-width: 600px) or (min-width: 1500px) {
    body {
        background-color: purple;;
    }
} */

/* @media not (max-width: 600px) {
    body {
        background-color: purple;;
    }
} */

/******************* Mobile ***************/
@media only screen and (max-width: 480px){
    body{
        background-color: red;
    }
    body::before{
        content: "MOBILE SIZE";
    }
}

/******************* Tablet ***************/
@media only screen and (min-width: 481px) and (max-width: 768px){
    body{
        background-color: orange;
    }
    body::before{
        content: "TABLET SIZE";
    }
}


/******************* Small Desktop ***************/
@media only screen and (min-width: 796px) and (max-width: 1540px){
    body{
        background-color: yellow;
    }
    body::before{
        content: "SMALL DESKTOP SIZE";
    }
}


/******************* Large Desktop ***************/
@media only screen and (min-width: 1541px){
    body{
        background-color: green;
    }
    body::before{
        content: "LARGE DESKTOP SIZE";
    }
}


