body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05rem;
    color: #e91e63;
    border: 1px solid #e91e63;
    padding: 20px 40px;
    border-radius: 25px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
   
}

.btn:hover {
    color: white;
   
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
}

.btn:hover::after {
    transform: translateX(0);
}

