/* .navbar {
    display: flex;
    background-color: slateblue ;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 20px;
}

.navbar  .links {
    display: flex;
} */
/* .navbar h1 {
    margin-left: 40px;
}

.navbar .links {
    margin-right: 40px;
} */

/* @media only screen and (max-width: 769px) {
    .navbar a{
        margin: 0 5px;
    } 
}

@media only screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
    }

    .navbar {
        flex-direction: column;
        padding: 0 0 3px 0 ;
    } 
    .navbar  .links {
        flex-direction: column;
        align-items: center;
    }
} */

/* .box {
    width: 50%;
    border: 2px solid white;
    box-sizing: border-box; 
    flex: 1 1 20%;
    height: 300px;
    background-color: steelblue;
}

.box:nth-last-of-type(2n) {
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

@media only screen  and (max-width: 1400px){
    .box {
        flex: 1 1 25%;
    } 
}

@media only screen  and (max-width: 1000px){
    .box {
        flex: 1 1 33.333%;
    } 
}

@media only screen  and (max-width: 700px){
    .box {
        flex: 1 1 50%;
    } 
}

@media only screen  and (max-width: 500px){
    .box {
        flex: 1 1 100%;
    } 
} */

header, footer {
    background-color: purple;
    height: 200px;
}

article {
    background-color: teal;
    height: 400px;
}

aside {
    background-color: aquamarine;
    height: 400px;
}

@media only screen  and (min-width: 1000px) {
    main {
        display: flex;
    }

    article {
        flex: 1 1 70%;
    }

    aside {
        flex: 1 1 30%;
    }
}

@media only screen  and (min-width: 1500px) {
    main {
        display: flex;
    }

    article {
        flex: 1 1 80%;
    }

    aside {
        flex: 1 1 20%;
    }
}