

body {
    background-color: #463d36;
    color: #463d36;
    /* font-family: sans-serif; */
   
}


.box {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 600px;
    box-sizing: border-box;
    margin: 130px auto;
  
}

.box h1{
    color: #a6192e;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 0;
    
}

.box h2{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 28px;
}

.box p{
    font-size: 28px;
}

.box button {
    background-color: #463d36;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 30px 40px;
    font-weight: bold;
}